.eco, .normal, .confort {
    margin-top: 15px;
    border: 1px solid;
    min-height: 5px;
    background-color: black;
    border-color: gray;
    min-width: 5px;
    display: inline-block;
}

.eco:hover, .normal:hover, .confort:hover {
    background-color: darkcyan;
    cursor: pointer;    
}

.normal {
    margin-top: 10px;
    min-height: 10px;
}

.confort {
    margin-top: 5px;
    min-height: 15px;
}

.unsaved {
    background-color: goldenrod;
}

.plist .row {
    min-height: 34px;
}

.plist .row:nth-of-type(odd) {
    background-color: gainsboro;

}

.plist sup {
    margin-left: 1px;
    margin-right: 1px;
}

.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Old versions of Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome, Opera and Firefox */
}

.mirror {
    height: 100%;
    width: 100%;
    max-width: 390px;
    max-height: 195px;
}

.terminal {
    height: 100%;

}
